{% extends 'base.html' %}

{% block content %} 

  
<section class="bg-dark text-light text-center shadow mb-20">
    <div class="container p-5 bg-dark">
        <div class="row">
            <div class="d-md-flex bg-dark align-items-center justify-content-evenly">
                <h1 class="col text-center">Hello {{ current_user.first_name }}! This the Car Inventory Page</h1>
            </div>
            <div>
                <h3 class="col text-center">Please Create, Retrieve, Update or Delete a Car. </h3>
            </div>
        </div>
    </div>
</section>


<section class="text-center">
    <div class="container p-5">
        <div class="row align-items-center"><br>
            <h3 class="p-5">Perform Your Search, Entry, Update and Deletion Here</h3>
                <form method="POST" action = "{{ url_for('site.create_car') }}">
                    
                    <div>
                        <label for="year">Year:</label><input type="number" name="year" min="1930" max="2025" value="{{ car.year }}" autofocus placeholder="Year">
                    </div>    
                    <div>
                        <label for="vin">VIN:</label><input type="text" name="vin" value="{{ car.vin }}" autofocus placeholder="VIN">
                    </div>
                    <div>
                        <label for="make">Make:</label>
                        <input type="text" name="make" placeholder="Input Make" value="{{ car.make }}" autofocus></th>
                    </div>
                    <div>
                        <label for="model">Model:</label>
                        <input type="text" name="model" placeholder="Input Model" value="{{ car.model }}" autofocus>
                    </div>
                    <div>
                        <label for="color">Color:</label>
                        <input type="text" name="color" placeholder="Input Color" value="{{ car.color }}" autofocus>
                    </div>
                    <button type="submit" name="create-edit" class="btn btn-secondary text-dark create-edit-button" style="align-items: center; justify-content: space-evenly; margin: 2px;"  formaction="/create_car"><i class="fa-regular fa-lg fa-computer-mouse"></i></button>
                       
                </form>
            
        </div>
        <div class="row"><br>
            
            <h3 class="p-5">Here are the Inventory Results</h3>
            <table>
                <thead style="background-color: black; color: white">
                <tr>
                    <th><label for="ID">ID:</label><br></th>
                    <th><label for="vin">VIN:</label><br></th>
                    <th><label for="year">Year:</label><br></th>
                    <th><label for="make">Make:</label><br></th>
                    <th><label for="model">Model:</label><br></th>
                    <th><label for="color">Color:</label><br></th>
                    <th><label for="actions">Actions:</label><br></th>
                </tr>
            </thead>
                {% for car in cars %}
            <thead>
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ car.vin }}</td>
                    <td>{{ car.year }}</td>
                    <td>{{ car.make }}</td>
                    <td>{{ car.model }}</td>
                    <td>{{ car.color }}</td>
                    
                        
                    <td>
                        
                        <form  action="{{ url_for('site.update_car', vin = car.vin ) }}" method="POST" style="align-items: center; justify-content: space-evenly; float: right; position: relative;
                        left: -50%; margin: 2px" >
                            <input type="hidden" name="Update" value="Update">
                            <button type="submit" onclick="openForm()" class="btn btn-warning text-dark update-button" name="update"><i class="fa-regular fa-md fa-pen-nib"></i></button>
                        </form>
                        
                        <form method="POST" action="{{ url_for('site.delete_car', id = car.vin) }}" style="align-items: center; justify-content: space-evenly; float: left; position: relative;
                        right: -50%; margin: 2px"  >
                            <input type="hidden" name="Delete" value="Delete">
                            <button type="submit"  class="btn btn-danger text-dark delete-button" name="delete"><i class="fa-regular fa-md fa-trash"></i></button>
                        </form>
                        
                    </td>
                </tr>
            </thead>
                {% endfor %}
            </table>
              
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-4"></div>
            <div class="col-3 p-10">
                <img src="../../static/images/undraw_Order_ride_re_372k.png" class="d-flex align-items-center justify-content-center p-50 img-fluid" alt="">
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</section>
{% endblock %}

