__pycache__
__pycache__/
.DS_Store
.env
.flaskenv
*.pyc
*.pyn
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

htmlcov/
.coverage
.coverage.*
*.cover
.start
.gunicorn
